<p id="notice"><%= notice %></p>

<h1>Cords</h1>

<table>
  <thead>
    <tr>
      <th>Racquet</th>
      <th>Name</th>
      <th>Colour</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cords.each do |cord| %>
      <tr>
        <td><%= cord.racquet.brand %></td>
        <td><%= cord.name %></td>
        <td><%= cord.colour %></td>
        <td><%= link_to 'Show', cord %></td>
        <td><%= link_to 'Edit', edit_cord_path(cord) %></td>
        <td><%= link_to 'Destroy', cord, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cord', new_cord_path %>
<%= link_to 'Back to Racquets', racquets_path %>
