<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('.racquet') %></strong>
  <%= @cord.racquet.brand %>
</p>

<p>
  <strong><%= t('.name_of_cord') %></strong>
  <%= @cord.name %>
</p>

<p>
  <strong><%= t('.colour') %></strong>
  <%= @cord.colour %>
</p>

<button class="button"><%= link_to t('.edit'), edit_cord_path(@cord), :style => 'text-decoration:none' %></button>
<button class="button"><%= link_to t('.back'), cords_path, :style => 'text-decoration:none' %></button>
