<p id="notice"><%= notice %></p>

<p>
  <strong>Racquet:</strong>
  <%= @cord.racquet.brand %>
</p>

<p>
  <strong>Name:</strong>
  <%= @cord.name %>
</p>

<p>
  <strong>Colour:</strong>
  <%= @cord.colour %>
</p>

<%= link_to 'Edit', edit_cord_path(@cord) %> |
<%= link_to 'Back', cords_path %>
