<p id="notice"><%= notice %></p>
<h1><%= t('.info') %></h1>
<table class="center">
  <thead>
    <tr>
      <th><%= t('.gender') %></th>
      <th><%= t('.brand') %></th>
      <th><%= t('.category') %></th>
      <th><%= t('.size') %></th>
      <th><%= t('.price') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clothings.each do |clothing| %>
      <tr>
        <td><%= clothing.gender %></td>
        <td><%= clothing.brand %></td>
        <td><%= clothing.category %></td>
        <td><%= clothing.size %></td>
        <td><%= clothing.price %></td>
        <td><%= link_to t('.show'), clothing %></td>
        <td><%= link_to t('.edit'), edit_clothing_path(clothing) %></td>
        <td><%= link_to t('.remove'), clothing, method: :delete, data: { confirm: t('.confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to t('.add'), new_clothing_path, :class => 'new_items' %>
