<p>
  <strong><%= t('.gender') %></strong>
  <%= @clothing.gender %>
</p>

<p>
  <strong><%= t('.brand') %></strong>
  <%= @clothing.brand %>
</p>

<p>
  <strong><%= t('.category') %></strong>
  <%= @clothing.category %>
</p>

<p>
  <strong><%= t('.size') %></strong>
  <%= @clothing.size %>
</p>

<p>
  <strong><%= t('.price') %></strong>
  <%= @clothing.price %>
</p>

<%= link_to t('.edit'), edit_clothing_path(@clothing) %> |
<%= link_to t('.back'), clothings_path %>
