<p id="notice"><%= notice %></p>
<h1><%= t('.info') %></h1>
<table>
  <thead>
    <tr>
      <th><%= t('.brand') %></th>
      <th><%= t('.level') %></th>
      <th><%= t('.weight') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @racquets.each do |racquet| %>
      <tr>
        <td><%= racquet.brand %></td>
        <td><%= racquet.level %></td>
        <td><%= racquet.weight %></td>
        <td><%= link_to 'Display', racquet %></td>
        <td><%= link_to 'Edit', edit_racquet_path(racquet) %></td>
        <td><%= link_to 'Remove', racquet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'Add New Racquet', new_racquet_path, :class => 'new_items' %>
