<p id="notice"><%= notice %></p>
<h4><%= t('.edit_info') %></h4>
<h1><%= t('.info') %></h1>
<table>
  <thead>
    <tr>
      <th><%= t('.brand') %></th>
      <th><%= t('.level') %></th>
      <th><%= t('.weight') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @racquets.each do |racquet| %>
      <tr>
        <td><%= racquet.brand %></td>
        <td><%= racquet.level %></td>
        <td><%= racquet.weight %></td>
        <td><%= link_to t('.show'), racquet %></td>
        <td><%= link_to t('.edit'), edit_racquet_path(racquet) %></td>
        <td><%= link_to t('.remove'), racquet, method: :delete, data: { confirm: t('.confirm_remove') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<button style="margin-left:43%" class="button"><%= link_to t('.add_new_racquet'), new_racquet_path, :style => 'text-decoration:none' %></button>
