<p>
  <strong><%= t('.brand') %></strong>
  <%= @racquet.brand %>
</p>

<p>
  <strong><%= t('.level') %></strong>
  <%= @racquet.level %>
</p>

<p>
  <strong><%= t('.weight') %></strong>
  <%= @racquet.weight %>
</p>

<button class="button"><%= link_to t('.back'), racquets_path, :style => 'text-decoration:none' %></button>
<button class="button"><%= link_to t('.add_cord'), new_cord_path(racquet_id: @racquet), :style => 'text-decoration:none' %></button>
