<p>
  <strong><%= t('.brand') %></strong>
  <%= @racquet.brand %>
</p>

<p>
  <strong><%= t('.level') %></strong>
  <%= @racquet.level %>
</p>

<p>
  <strong><%= t('.weight') %></strong>
  <%= @racquet.weight %>
</p>

<%= link_to t('.edit'), edit_racquet_path(@racquet), :class => 'link' %>
<br>
<%= link_to t('.back'), racquets_path, :class => 'link' %>
<br>
<%= link_to t('.add_cord'), new_cord_path(racquet_id: @racquet), :class => 'link' %>
