<% if user_signed_in? %>
<%= "#{current_user.email} |" %>
<%= link_to t('profile'), edit_user_registration_path %>
<%= '|' %>
<%= link_to t('logout'), destroy_user_session_path, method: 'delete' %>
<% else %>
<% end %>
<%= link_to t('login'), new_user_session_path %>
<%= '|' %>
<%= link_to t('sign_up'), new_user_registration_path %>
<ul class="nav navbar-nav navbar-right">
  <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
  <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
</ul>
<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <%= link_to("Home", home_path()) %>
  <a href="clothings"><%= t('.clothing') %></a>
  <a href="accessories"><%= t('.accessories') %></a>
  <a href="shoes"><%= t('.shoes') %></a>
  <a href="racquets"><%= t('.racquets') %></a>
  <a href="contact"><%= t('.contact') %></a>
</div>
<div id="main">
  <button class="openbtn" onclick="openNav()">&#9776;</button>
</div>
