<nav class="navbar">
<% if user_signed_in? %>
<%= "#{current_user.email} |" %>
<%= link_to t('profile'), edit_user_registration_path %>
<%= '|' %>
<%= link_to t('logout'), destroy_user_session_path, method: 'delete' %>
<% else %>
<% end %>
<%= link_to t('login'), new_user_session_path %>
<%= '|' %>
<%= link_to t('sign_up'), new_user_registration_path %>
</nav>
<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

  <%= link_to("Home", home_path()) %>
  <a href="clothings">Clothing</a>
  <a href="accessories">Accessories</a>
  <a href="shoes">Tennis Shoes</a>
  <a href="racquets">Tennis Racquets</a>
  <a href="contact">Contact Us</a>
</div>

<div id="main">
  <button class="openbtn" onclick="openNav()">&#9776; Menu</button>
</div>
<p class="notice">
  <%= notice %>
</p>
<p class="alert">
  <%= alert %>
</p>
<!-- <ul>
  <li><a href="clothing">Clothing</a></li>
  <li><a href="racquets">Tennis Racquets</a></li>
  <li><a href="clothing">Tennis Apparel</a></li>
  <li><a href="accessories">Accessories</a></li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Dropdown</a>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </li>
</ul> -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Tennis World VM</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Page 1-1</a></li>
          <li><a href="#">Page 1-2</a></li>
          <li><a href="#">Page 1-3</a></li>
        </ul>
      </li>
      <li><a href="#">Page 2</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
