<%= form_tag request_contact_path, method: 'post'  %>
  <section class="contact-page-sec">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="contact-page-form" method="post">
            <h2><%= t('.contact_us') %></h2>
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="single-input-field">
                    <%= text_field_tag :name, '', title: t('.enter_name'), size: 50, placeholder: "Enter your name:" %>
                  </div>
                </div>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="single-input-field">
                  <%= email_field_tag :email, '', title: t('.enter_email'), placeholder: "Email:" %>
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="single-input-field">
                  <%= telephone_field_tag :telephone, '', title: t('.enter_telephone'), placeholder: "Telephone number:" %>
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="single-input-field">
                  <%= text_field_tag :subject, '', title: t('enter_subject'), placeholder: "Subject:" %>
                </div>
              </div>
              <div class="col-md-12 message-input">
                <div class="single-input-field">
                <%= text_field_tag :message, '', title: t('.enter_message'), size: 300, placeholder: "Your message:" %>
                </div>
              </div>
              <div class="single-input-fieldsbtn"><%= submit_tag t('.submit') %></div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="contact-page-map">
            <iframe class="the_map" id="gmap_canvas" src="https://maps.google.com/maps?q=univeristy%20of%20surrey&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
          </div>
        </div>
    </section>
