<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= t('app_title') %>
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <%= content_tag :div, content_tag(:p, value), id: "#{key}" unless value.blank? %>
    <% end %>

    <%= render "shared/header" %>
    <div id="main_content">
      <%= yield %>
    </div>
    <%= render "shared/footer" %>
  </body>
</html>
